<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MyGame"
   connectionString="Server=127.0.0.1;Database=dbgamedat602;Uid=root;Pwd='erica'"
   providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>